.crew {
  background-image: url(../image/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  min-height: 100vh;
}

.crew__content {
  text-align: center;

  img {
    width: auto;
    height: 40vh;
    display: flex;
    margin: 0 auto;
  }

  hr {
    margin: 0;
    border: 0.5px solid;
  }
  h4 {
    padding: 2rem 0;
    text-transform: uppercase;
  }

  h5 {
    font-size: 2rem;
    color: white;
    opacity: 0.6;
    font-family: "Bellefair", serif;
    text-transform: uppercase;
  }

  p {
    line-height: 1.5;
    color: $light-color;
    letter-spacing: 1px;
  }
}

.crew__heading {
  text-align: center;
}

.crewNav {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.crewNav__list {
  list-style: none;
  max-width: 150px;
  min-height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.crewNav__style {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.508);
  border-radius: 50px;
  cursor: pointer;
}

.crewNav__active {
  background-color: white;
}

.crewNav__style:hover {
  background-color: rgba(255, 255, 255, 0.734);
}
