$dark-color: #0b0d17;
$light-color: #d0d6f9;

html {
  font-size: 50%;
}

body {
  font-family: "Bellefair", serif;
}

h1 {
  font-size: 15rem;
  color: white;
  font-family: "Bellefair", serif;
}

h2 {
  font-size: 10rem;
  color: white;
}

h3 {
  font-size: 5.6rem;
  color: white;
}

h4 {
  font-size: 3.2rem;
  color: white;
}

h5 {
  font-size: 2.8rem;
  color: $light-color;
  letter-spacing: 4.75;
  font-family: "Barlow Condensed", sans-serif;
}

.subheading-1 {
  font-size: 2.8rem;
  font-family: "Bellefair", serif;
  color: white;
}

.subheading-2 {
  font-size: 1.4rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35;
  color: white;
}

.nav__text,
a {
  font-size: 1.6rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4px;
  color: white;
}

p {
  font-size: 1.8rem;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}
